.mark {
  aspect-ratio: 367.92 / 246.399;
  background-color: var(--color-accent);
  display: inline-block;
  flex-shrink: 0;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 36px;
}
